.containerPeople{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:30px;
}
.containerPeopleList{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  width:50%;
}

.card{
    width:screen.width/5;
    height:screen.height/3;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:3.4px solid yellow;
    border-radius: 2px;
    margin:10px;
    cursor:pointer;
    background-color:yellow;
    color:black;
    font-family: fantasy;
}
